body{
    background: radial-gradient(#f2e76c, #080808);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(223, 230, 9, 0.3);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}
button:hover{
    transform: scale(1.4);
    transition: 1s;
    box-shadow: 0 10px 20px rgba(222, 251, 2, 0.3);
}

h2:hover{
    transform: scale(1.4);
    transition: 1s;
    box-shadow: 0 10px 20px rgba(222, 251, 2, 0.3);
}
p:hover{
    transform: scale(1.4);
    transition: 1s;
    box-shadow: 0 10px 20px rgba(183, 232, 7, 0.3);
}
.item:hover img{
    transform: scale(1.4);
    transition: 1s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio{
    font-size: 18px;
    font-weight: 900;
}

.info-producto button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
.boton-volver:hover{
    transform:scale3d(1.1);
    transition: 1s;
    background-color: #6dcff9;
}

.boton-volver{
    width:100%;
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(248, 244, 166);
}